html{
  
  background-color: rgb(120, 214, 183);
}

.four_image {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  
  }

.item {
  width: 25%;
  text-align: center;
  cursor: pointer;
}

.form {
  display: none;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:rgb(120, 214, 183);
  
  }

.pic{
  width: 80%;
  height: auto;
  
}

#diceImg{
  width: 260px;
  height: 320px;
  }

#congoImg{
    
    height: 320px;
    width: 420px;
    }

